<div class="row">
    <div class="col-md-12"style="margin-left:0%">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Produtos Selecionados</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table class="table table-bordered">
            <tr>
              <th style="width: 10px">Id</th>
                <th>Nome</th>
                <th>Preço</th>
                <th style="width: 10px">Quantidade</th>
               <th style="width: 10px">&nbsp;</th>
               <th style="width: 10px">&nbsp;</th>
            </tr>
              <tr *ngFor ="let item of items">
                <td>{{item.produto.id}}</td>
                <td>{{item.produto.nome}} </td>
                <td>{{item.produto.preco | currency:'BRL':true}}</td>
                <td>
                    <div class="input-group margin col-xs-3">
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-danger btn-xs glyphicon glyphicon-minus" style="top: 0px" (click)="decreaseQuantity(item.produto.id,item.produto.nome,item.produto.preco,item.quantidade)"></button>
                      </div>
                     
                      <input type="input-sm" style="width: 25px" value={{item.quantidade}} >
                     
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success btn-xs glyphicon glyphicon-plus" style="top: 0px" 
                               (click)="increaseQuantity(item.produto.id,item.produto.nome,item.produto.preco,item.quantidade)">
                       </button>
                      </div>
                    </div>
                   </td>
                  <td><button class="btn btn-danger btn-xs  glyphicon glyphicon-trash"  style="top: 10px"
                           (click)="removeItem(item.produto.id,item.produto.nome,item.produto.preco,item.quantidade)">
                  </button> </td>
              </tr>
          
          </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
          <ul class="pagination pagination-sm no-margin pull-right">
            <li><a routerLink="#" (click)="setPreviousPage ($event)">&laquo;</a></li>
            <li *ngFor="let p of pages; let i = index" >
              <a [ngClass]="{'pagination-focus':i == page}"  routerLink="#" (click)="setPage(i,$event)">{{i+1}}</a>
            </li>
            <li><a  routerLink="#" (click)="setNextpage($event)">&raquo;</a></li>
          </ul>
        </div>
        <div class="col-md-12" *ngIf="total() > 0">
            <h4 class="text-light-blue">Total: {{total() | currency:'BRL':true}}</h4>    
        </div>
          <div *ngIf="total() <= 0">
            <h5>Seu carrinho está vazio</h5>
          </div>
       
        <button  >Continuar comprando</button>   
        <button *ngIf="total() > 0" >Finalizar pedido</button>   
      </div>
    </div>
  </div>
  
  
  