<div class="row">
  <div class="col-md-12"style="margin-left:0%">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Lista de Produto</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th style="width: 5px">Id</th>
              <th style="width : 10px">Nome</th>
              <th style="width: 5px">Preço</th>
             <th style="width: 5px">&nbsp;</th>
             
          </tr>
            <tr *ngFor ="let item of items">
              <td>{{item?.id}}</td>
              <td>{{item?.nome}} </td>
              <td>{{item.preco | currency:'BRL':true}}</td>
              <td><button class="btn btn-success btn-xs glyphicon glyphicon-plus "(click)="addToCart(item.id,item.nome,item.preco)" ></button> </td>

            </tr>
        
        </table>
      </div>
      <!-- /.box-body -->
      <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
          <li><a href="" (click)="setPreviousPage($event)">&laquo;</a></li>
          <li *ngFor="let p of pages; let i = index" >
            <a [ngClass]="{'pagination-focus':i == page}"  href="" (click)="setPage(i,$event)">{{i+1}}</a>
          </li>
          <li><a  href="" (click)="setNextpage($event)">&raquo;</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


