  <form class="form-horizontal" novalidate>
    <div [ngClass]="classCss" role="alert" *ngIf="message">
        <strong>{{message.text}}</strong>
    </div>
    <div class="box-body " >

        <app-contrato-escola [idEscola]="idEscola"   (trocaEscoal)=onTrocaEscola($event) [hidden] ="!campos"></app-contrato-escola>
        <app-contrato-pesquisa (escolaId)="onEscola($event)" [hidden]="campos"></app-contrato-pesquisa>
        <app-contrato-novo [hidden] ="!campos"></app-contrato-novo>

        <app-contrato-centro-custo [hidden] ="!campos"></app-contrato-centro-custo>  
  </div>
</form>


