<div class="row">
  <div class="col-md-12"style="margin-top:0%; margin-left:-1%">
      <div class="col-md-12" style="margin-top:-2%; margin-left:-2%">
          <div class="box">
    <app-fornecedor-consulta [id]="id"></app-fornecedor-consulta>
  </div>
</div>
  <div class="col-md-2" style="margin-left:-0%">
   <div class="box">
    <app-categorias (mudouCat)="onMudouCat($event)"></app-categorias> 
  </div>
</div>
  
 <div class="col-md-4" style="margin-left:-2%">
   <div class="box">
    <app-produtos [catId]="catId" (novoProduto)="onNovoProduto($event)" ></app-produtos>
</div>
</div>
<div class="col-md-6" style="margin-left:-2%">
    <div class="box">
    <app-cart [novoProd]="novoProd" [addProd]="true" [idFornecedor]="id"></app-cart>
  </div>
</div>    
     
  </div>  
 </div>      
