<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="treeview">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Cliente</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a  routerLink="/listacliente"><i class="fa fa-circle-o"></i> Lista</a></li>
          <li><a  routerLink="/novocliente"><i class="fa fa-circle-o"></i> Novo Cliente</a></li>
          </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class=" fa-sign-in"></i> <span>Entrada</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> Lista Compras/Serviços</a></li>
          <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Novo Compra</a></li>
          </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-money"></i> <span>Financeiro</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> Lista</a></li>
          <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Novo Compra</a></li>
          </ul>
      </li>
 
      <li class="treeview">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Produto</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> Lista</a></li>
          <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Novo Produto</a></li>
          <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Novo Categoria</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Venda</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> Lista</a></li>
          <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Novo Venda</a></li>
          </ul>
      </li>
         
  </ul> 


  </section>

</aside>